h1 Bird Up! — Soarcast

p Live Weather

h2 Windgrams

img http://wxtofly.net/Tiger_windgram.png
img http://wxtofly.net/TigerHikeLookout_windgram.png
img http://wxtofly.net/TigerLZ_windgram.png

h2 Meteograms

img #{meteogram}&ahour=0
img #{meteogram}&ahour=48
img #{meteogram}&ahour=72
